<section class="contct pd1">
  <div class="contct__container">
    <div class="heading__sec">
      <h2 class="title2">Зв’яжіться з нами</h2>
    </div>

    <div class="contct__wrapp">
      <div class="contct__address">
        <p>
          Якщо Ви хочете дізнатися більше інформації про НОРМАРИН, будь-ласка,
          пишіть на електронну скриньку:
        </p>
        <address>
          <a href="mailto:aicore-info@aicore.eu">
            <img src="./img/icons/cont_2.svg" alt="" />
            <span>aicore-info@aicore.eu</span>
          </a>
        </address>
      </div>

      <div class="contct__address">
        <p>
          Якщо Ви хочете дізнатися більше інформації про НОРМАРИН, будь-ласка,
          пишіть на електронну скриньку:
        </p>
        <address>
          <a
            href="http://www.aicore.com.ua"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="./img/icons/cont_3.svg" alt="" />
            <span>www.aicore.com.ua</span>
          </a>
        </address>
      </div>
    </div>

    <ul class="contct__cards">
      <li>
        <h5 class="title5">УКРАЇНА</h5>
        <div>
          <p>
            ТОВ "Айкор Консьюмер" вул. Червоноткацька 42-Д м. Київ Україна 02094
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
