@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Regular/Poppins-Regular.eot") format("eot"),
    url("../../fonts/Regular/Poppins-Regular.woff2") format("woff2"),
    url("../../fonts/Regular/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Medium/Poppins-Medium.eot") format("eot"),
    url("../../fonts/Medium/Poppins-Medium.woff2") format("woff2"),
    url("../../fonts/Medium/Poppins-Medium.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/SemiBold/Poppins-SemiBold.eot") format("eot"),
    url("../../fonts/SemiBold/Poppins-SemiBold.woff2") format("woff2"),
    url("../../fonts/SemiBold/Poppins-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Bold/Poppins-Bold.eot") format("eot"),
    url("../../fonts/Bold/Poppins-Bold.woff2") format("woff2"),
    url("../../fonts/Bold/Poppins-Bold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
