<section class="policy pd3">
  <div class="policy__container">
    <div class="heading__sec">
      <h1 class="title2">Політика приватності та політика cookies</h1>
    </div>

    <div class="policy__content">
      <h4><span>Політика приватності</span></h4>
      <p>
        У цій політиці конфіденційності компанія Aicore (далі - Айкор)
        використовує термін «персональні дані» для опису інформації, яка може
        бути пов'язана з конкретною людиною і може використовуватися для
        ідентифікації цієї людини. Інформація є анонімною для того, щоб не
        ідентифікувати конкретну людину, дана інформація не є особистими даними.
      </p>
      <p>
        Дана політика конфіденційності описує способи, якими Aicore збирає,
        зберігає, використовує і захищає ваші персональні дані. Будь ласка,
        уважно прочитайте наступне, щоб зрозуміти нашу практику щодо ваших
        особистих даних і того, як Айкор буде збирати, використовувати,
        зберігати та керувати ними.
      </p>
      <p>
        При відвідуванні normarin.com.ua ви приймаєте та погоджуєтесь з методами
        використання даних, описаними в цій політиці конфіденційності. Айкор
        може в будь-який момент змінити цю політику конфіденційності,
        розмістивши на цьому веб-сайті переглянуту версію. Переглянута версія
        буде ефективною тоді, коли Айкор опублікує її.
      </p>

      <div>
        <h4>
          При відвідуванні сайту, Aйкор може збирати такі персональні дані:
        </h4>
        <ul>
          <li>
            Особисті дані, які ви надаєте компанії Айкор. Ви можете надати
            персональні дані Айкор через сайт, по телефону, за допомогою
            електронної пошти або іншим іншим чином. Сюди входить, наприклад,
            інформація, яку ви надаєте при підключенні/підписці на будь-яку
            послугу Айкор;
          </li>
          <li>
            Персональні дані, які Айкор збирає у Вас - при відвідуванні цього
            веб-сайту, Айкор автоматично збере такі персональні дані:
            <ol>
              <li>
                Технічну інформацію, включаючи адресу інтернет-протоколу (IP),
                тип і версію браузера, плагіни, налаштування часового поясу і
                операційну систему;
              </li>
              <li>
                Інформацію про ваш візит (включаючи дати і час), ваші дії на
                веб-сайті Айкор, час відгуку сторінки, тривалість відвідування
                певних сторінок і інформацію про взаємодію сторінок.
              </li>
            </ol>
          </li>
        </ul>
      </div>

      <h4><span>Політика Cookies</span></h4>
      <h5>"Cookie" - що це?</h5>
      <p>
        «Cookie» - це невеликий текстовий файл, який зберігається на Вашому
        комп'ютері, планшеті або телефоні при відвідуванні веб-сайту. Файл
        cookie буде містити деяку анонімну інформацію, таку як унікальний
        ідентифікатор і ім'я сайту, а також деякі цифри і цифри. Деякі
        cookie-файли видаляються при закритті браузера. Вони відомі як сеансу
        куки. Решта залишаються на вашому пристрої до закінчення терміну їх дії
        або Ви видаляєте їх зі свого кеша. Вони називаються постійними куками і
        дозволяють нам пам'ятати про Вас як про возвращающемся відвідувача.
      </p>
      <p>
        Щоб дізнатися більше про файлах cookie, в тому числі про те, як
        визначити, які файли cookie були встановлені і як їх видаляти,
        відвідайте веб-сайт www.allaboutcookies.org.
      </p>
      <h5>Що робити, якщо ви не хочете, щоб файли cookie були встановлені?</h5>
      <p>
        Деякі люди вважають, що веб-сайт зберігає інформацію на своєму
        комп'ютері або мобільному пристрої нав'язливим чином, особливо коли ця
        інформація зберігається і використовується третьою стороною без їх
        відома. Хоча це, як правило, абсолютно не шкідлива, ви, наприклад, не
        можете бачити рекламу, яка була націлена на ваші інтереси. За вашим
        бажанням, можна заблокувати деякі або всі файли cookie або навіть
        видалити вже встановлені файли cookie. Але вам потрібно знати, що ви
        можете втратити деякі функції цього веб-сайту.
      </p>
      <h5>Як ми використовуємо файли cookie?</h5>
      <p>
        На цьому сайті використовуються постійні файли cookie. Постійні файли
        cookie використовуються для відстеження поведінки відвідувачів при
        переміщенні по сайту, і ці дані використовуються, щоб спробувати
        зрозуміти, що люди роблять і не люблять щодо сайту, таким чином ми
        намагаємося поліпшити веб-сайт. Ця практика відома як веб-аналітика.
        Оскільки Google почав безкоштовно надавати свої власні аналітичні
        технології власникам веб-сайтів, майже всі веб-сайти використовують його
        в якійсь формі - хоча є і платні сервіси, доступні для конкурентів
        Google.
      </p>
      <p>
        Файли cookie в Google Analytics, ймовірно, є найбільш поширеною формою
        постійних файлів cookie, які використовуються сьогодні.
      </p>
      <p>Cookie-файли, які ми використовуємо: файли cookie продуктивності.</p>
      <p>
        Ці файли cookie допомагають поліпшити продуктивність веб-сайту,
        забезпечуючи кращий користувальницький інтерфейс.
      </p>
      <h5>Як Айкор ділиться вашими персональними даними?</h5>
      <p>
        Айкор не надсилає Ваші персональні дані будь-яким третім особам. Айкор
        може скомбінувати ваші персональні дані з тими, які Айкор зібрала від
        інших партнерів для поліпшення роботи сервісів Айкор.
      </p>
      <h5>Зміни</h5>
      <p>
        Айкор має право оновити політику приватності і політику Сookie. Будь-які
        зміни, ініційовані Айкор, будуть розміщені на цьому сайті.
      </p>
      <h5>Зв'яжіться з нами</h5>
      <p>
        Ми завжди раді зворотного зв'язку за допомогою питань, коментарів або
        запитів щодо політики приватності і політики Cookies. Будь ласка,
        звертайтеся на електронну пошту:
        <a href="mailto:aicore-info@aicore.eu">aicore-info@aicore.eu</a>
      </p>
    </div>
  </div>
</section>
