<section class="therapy pd3">
  <div class="therapy__container">
    <div class="heading__sec">
      <h1 class="title2">Ірригаційна терапія</h1>
    </div>

    <div class="patients">
      <p>
        Іригаційна (від лат. irrigatio – зрошення) терапія (ІТ) включає в себе
        різні методи промивання слизової оболонки носової порожнини.
      </p>
      <p>
        Найбільш визнаним як серед лікарів, так і серед пацієнтів методом ІТ є
        промивання носової порожнини за допомогою інтраназальних спреїв на
        основі морської води.
      </p>
      <div class="patients__column clmn-cntr">
        <div class="patients__img square">
          <img src="./img/content/patients_1.jpg" alt="" />
        </div>
        <div class="patients__content">
          <div class="patients__block">
            <h5>Гігієна носової порожнини:</h5>
            <ul>
              <li>Розріджує густий секрет та сприяє його видаленню</li>
              <li>Зволожує слизову оболонку носуа</li>
              <li>Покращує роботу мукоциліарного транспорту</li>
              <li>
                Вимиває повітряні алергени (пил та пилок), інфекійні збудники та
                забруднювачі повітря
              </li>
              <li>
                Відновлює нормальну распіраторну функцію носової порожнини
              </li>
            </ul>
          </div>
          <div class="patients__block">
            <h5>Догляд за носовою порожниною у післяопераційний період</h5>
            <ul>
              <li>Очищує та зволожує слизову оболонку носа</li>
              <li>Зменшує набряк слизової оболонки носа</li>
              <li>
                Прискорює процеси епітелізаціїта відновлює бар’єрні функції
                слизової оболонки носа
              </li>
              <li>
                Знижує вираженість симптомів запалення та прискорює загоєння
              </li>
              <li>Покращує якість життя</li>
            </ul>
          </div>
          <div class="patients__block">
            <h5>
              Допоміжна терапія при лікуванні ринітів, синуситів, алергії та ін.
            </h5>
            <ul>
              <li>Зменшує набряк слизової оболонки носа</li>
              <li>Знижує показник носового опору (NAR)</li>
              <li>Зменшує закладеність носа (безпечний деконгестант)</li>
              <li>Розріджує густий секрет та сприяє його видаленню</li>
              <li>Покращує роботу мукоциліарного транспорту</li>
              <li>Знижує вираженість симптомів запалення</li>
            </ul>
          </div>
        </div>
      </div>
      <h4>Як працює іригаційна терапія?</h4>
      <p>
        Розчини, що застосовуються при іригації носової порожнини, зменшують
        запальний процес через осмос. Набряк є основним фактором дисфункцій
        носової порожнини. Видалення слизу відіграє важливу роль у здоровому
        функціонуванні носової порожнини, а промивання носа поліпшує
        мукоциліарний кліренс шляхом зволоження носової порожнини та видалення
        інкрустованого матеріалу.
      </p>
      <h4>Чому іригаційна терапія відіграє таке важливе значення?</h4>
      <p>
        Іригаційна терапія є безпечною як для дорослих, так і для дітей, та не
        викликає побічних реакцій. Пацієнти, що застосовують іригаційну терапію,
        менше залежать від лікарських засобів та мають меншу кількість візитів
        до лікарів. У провідних клінічних рекомендаціях на даний час
        рекомендують застосування ірригації носової порожнини у всіх випадках
        риносинуситів та при догляді за носовою порожниною у післяопераційний
        період.
      </p>
      <p>
        Більше того, іригаційна терапія прискорює процес епітелізації та
        відновлює бар'єрну функцію носової порожнини, покращуючи якість життя.
      </p>
    </div>

    <div class="therapy__content">
      <h4>
        NORMARIN - найкращий вибір при застосуванні чистих природних
        інгредієнтів та останніх сучасних технологій для підтримки вашого
        здоров'я та покращення якості Вашого життя.
      </h4>
      <div class="therapy__img ibg">
        <img src="./img/content/therapy_1.jpg" alt="" />
      </div>
      <ul class="therapy__list">
        <li>
          <span class="no-select">
            <img src="./img/decor/vector_2.svg" alt="" />
            <img src="./img/decor/vector_2m.svg" alt="" />
          </span>
          <b>НОРМАРИН БЕЙБІ</b> - для щоденної гігієни носа та носової порожнини
          новонароджених та немовлят
        </li>
        <li>
          <span class="no-select">
            <img src="./img/decor/vector_1.svg" alt="" />
            <img src="./img/decor/vector_1m.svg" alt="" />
          </span>
          <b>НОРМАРИН СИНУС</b> - для полегшення закладеності носа, пов'язаної з
          ринітом та синуситом
        </li>
        <li>
          <span class="no-select">
            <img src="./img/decor/vector_3.svg" alt="" />
            <img src="./img/decor/vector_3m.svg" alt="" />
          </span>
          <b>НОРМАРИН АЛЛЕРДЖИ</b> - для щоденної гігієни носа та носової
          порожнини в сезон алергій
        </li>
      </ul>
    </div>
  </div>
</section>
