.bov {
  &__container {
    max-width: 69rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0 3.125rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;
    li {
      display: flex;
      align-items: center;
      gap: 0 1rem;
      font-size: 1.125rem;
      font-weight: 500;
      &::before {
        content: "";
        flex-shrink: 0;
        width: 1.3125rem;
        height: 1.75rem;
        background-size: 1.3125rem 1.75rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: var(--checkItem);
      }
    }
  }

  &__img {
    border-radius: 1.25rem;
    border: 0.0625rem solid var(--cb2);
    background-color: var(--cb1);
    overflow: hidden;
    height: 29.1875rem;
  }
}

@media screen and (max-width: 960px) {
  .bov {
    &__content {
      gap: 0 1.5rem;
    }

    &__list {
      gap: 1rem 0;
    }

    &__img {
      height: auto;
      padding-top: 100%;
    }
  }
}

@media screen and (max-width: 675px) {
  .bov {
    &__content {
      grid-template-columns: 1fr;
      gap: 1.5rem 0;
    }
  }
}
