<section class="research pd3">
  <div class="research__container">
    <div class="heading__sec">
      <h1 class="title2">Дослідження</h1>
    </div>

    <ul class="research__list">
      <li class="card-rsrch">
        <a href="./experiment.html" class="card-rsrch__img ibg">
          <img src="./img/content/rsrch_1.jpg" alt="" />
        </a>
        <div class="card-rsrch__content">
          <a href="./experiment.html" class="title5">
            Ефективність іригацій носової порожнини у пацієнтів з синуситом:
            результати клінічного дослідження іригацій носової порожнини у
            пацієнтів з синуситом: результати клінічного дослідження
          </a>
          <div class="txt-def">
            <p>
              Згідно систематичним оглядам, ірригація порожнини носа сольових
              розчинів дозволяє зменшити симптоми хронічного синусу і зменшити
              частоту рецидивів, однак більшість робіт включають невелику
              кількість пацієнтів. систематичним оглядам, ірригація порожнини
              носа сольових розчинів дозволяє зменшити симптоми хронічного
              синусу і зменшити частоту рецидивів, однак більшість робіт
              включають невелику кількість пацієнтів.
            </p>
          </div>
          <a href="./experiment.html" class="btn-def">Читати дослідження</a>
        </div>
      </li>
      <li class="card-rsrch">
        <a href="./experiment.html" class="card-rsrch__img ibg">
          <img src="./img/content/rsrch_1.jpg" alt="" />
        </a>
        <div class="card-rsrch__content">
          <a href="./experiment.html" class="title5">
            Ефективність іригацій носової порожнини у пацієнтів з синуситом:
            результати клінічного дослідження
          </a>
          <div class="txt-def">
            <p>
              Згідно систематичним оглядам, ірригація порожнини носа сольових
              розчинів дозволяє зменшити симптоми хронічного синусу і зменшити
              частоту рецидивів, однак більшість робіт включають невелику
              кількість пацієнтів.
            </p>
          </div>
          <a href="./experiment.html" class="btn-def">Читати дослідження</a>
        </div>
      </li>
      <li class="card-rsrch">
        <a href="./experiment.html" class="card-rsrch__img ibg">
          <img src="./img/content/rsrch_1.jpg" alt="" />
        </a>
        <div class="card-rsrch__content">
          <a href="./experiment.html" class="title5">
            Ефективність іригацій носової порожнини у пацієнтів з синуситом:
            результати клінічного дослідження
          </a>
          <div class="txt-def">
            <p>
              Згідно систематичним оглядам, ірригація порожнини носа сольових
              розчинів дозволяє зменшити симптоми хронічного синусу і зменшити
              частоту рецидивів, однак більшість робіт включають невелику
              кількість пацієнтів.
            </p>
          </div>
          <a href="./experiment.html" class="btn-def">Читати дослідження</a>
        </div>
      </li>
      <li class="card-rsrch">
        <a href="./experiment.html" class="card-rsrch__img ibg">
          <img src="./img/content/rsrch_1.jpg" alt="" />
        </a>
        <div class="card-rsrch__content">
          <a href="./experiment.html" class="title5">
            Ефективність іригацій носової порожнини у пацієнтів з синуситом:
            результати клінічного дослідження
          </a>
          <div class="txt-def">
            <p>
              Згідно систематичним оглядам, ірригація порожнини носа сольових
              розчинів дозволяє зменшити симптоми хронічного синусу і зменшити
              частоту рецидивів, однак більшість робіт включають невелику
              кількість пацієнтів.
            </p>
          </div>
          <a href="./experiment.html" class="btn-def">Читати дослідження</a>
        </div>
      </li>
    </ul>

    <div class="pagination__wrapp">
      <div
        class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
        data-name="pagination"
        data-type="pager"
      >
        <div class="facetwp-pager">
          <a class="facetwp-page prev disabled" data-page="1"></a>
          <a class="facetwp-page first" data-page="1">1</a>
          <a class="facetwp-page active" data-page="2">2</a>
          <a class="facetwp-page" data-page="3">3</a>
          <a class="facetwp-page next" data-page="3"></a>
        </div>
      </div>
    </div>
  </div>
</section>
