<section class="articles pd3">
  <div class="articles__container">
    <div class="heading__sec">
      <h1 class="title2">Корисні статті</h1>
    </div>

    <ul class="articles__list">
      <li>
        <a href="./article.html" class="title4">
          Алергічний риніт: знову привіт?
        </a>
        <a href="./article.html" class="articles__img ibg">
          <img src="./img/content/featur_1.jpg" alt="" />
        </a>
        <div class="articles__content">
          <div class="articles__desc">
            <p>
              У весняну пору року розквітає багато рослин та квітів, що значно
              покращує настрій, але частина людей страждає через алергічні
              прояви у вигляді алергічного риніту та алергій. Алергічний риніт -
              запальне захворювання, проявом якого є чхання, свербіж у носі, та
              прозорі виділення з носа. Ці симптоми знайомі багатьом з нас,
              кожного року кажуть нам «привіт»
            </p>
          </div>
          <p class="articles__date">11.11.23</p>
          <a href="./article.html" class="btn-def varAlt colW">
            Читати повністю
          </a>
        </div>
      </li>
      <li>
        <a href="./article.html" class="title4">
          Гіпертонічні розчини для промивання носу: для чого?
        </a>
        <a href="./article.html" class="articles__img ibg">
          <img src="./img/content/featur_1.jpg" alt="" />
        </a>
        <div class="articles__content">
          <div class="articles__desc">
            <p>
              Догляд та гігієна за слизовою оболонкою носа сприяють швидкому
              одужанню, допомагають у профілактиці захворювань. Для таких цілей
              рекомендують використовувати промивання носової порожнини
              сольовими розчинами.
            </p>
          </div>
          <p class="articles__date">11.11.23</p>
          <a href="./article.html" class="btn-def varAlt colW">
            Читати повністю
          </a>
        </div>
      </li>
      <li>
        <a href="./article.html" class="title4">
          Як промивання носової порожнини може допомогти зменшити ймовірність
          зараження коронавірусом та іншими респіраторними захворюваннями
        </a>
        <a href="./article.html" class="articles__img ibg">
          <img src="./img/content/featur_1.jpg" alt="" />
        </a>
        <div class="articles__content">
          <div class="articles__desc">
            <p>
              На сьогодні дуже поширена тема – респіраторні вірусні
              захворювання, зокрема коронавірус, та ускладнення від них.
            </p>
          </div>
          <p class="articles__date">11.11.23</p>
          <a href="./article.html" class="btn-def varAlt colW">
            Читати повністю
          </a>
        </div>
      </li>
      <li>
        <a href="./article.html" class="title4">
          Корисні звички під час карантину
        </a>
        <a href="./article.html" class="articles__img ibg">
          <img src="./img/content/featur_1.jpg" alt="" />
        </a>
        <div class="articles__content">
          <div class="articles__desc">
            <p>
              Карантин подовжено. Дана фраза може викликати різні емоції.
              Спостерігаючи за людьми, за здатністю багатьох, а може й більшості
              людей пристосовуватись до нових умов, виникає віра у те, що цей
              час може піти нам на користь.
            </p>
          </div>
          <p class="articles__date">11.11.23</p>
          <a href="./article.html" class="btn-def varAlt colW">
            Читати повністю
          </a>
        </div>
      </li>
      <li>
        <a href="./article.html" class="title4">
          Відчуття сухості в носовій порожнині: причини виникнення та методи
          лікування
        </a>
        <a href="./article.html" class="articles__img ibg">
          <img src="./img/content/featur_1.jpg" alt="" />
        </a>
        <div class="articles__content">
          <div class="articles__desc">
            <p>
              Дуже часто нежить проявляється не виділеннями слизу з носа, а
              сухістю його слизової. Такий процес приносить також чимало
              проблем, викликаних поганим самопочуттям хворого. Сухість в носі,
              як правило, супроводжується почергової закладеністю двох сторін
              носової порожнини. Дуже часто такий стан погіршується ще сильними
              головними болями, свербінням і палінням в носоглотці, носовими
              кровотечами.
            </p>
          </div>
          <p class="articles__date">11.11.23</p>
          <a href="./article.html" class="btn-def varAlt colW">
            Читати повністю
          </a>
        </div>
      </li>
    </ul>

    <div class="pagination__wrapp">
      <div
        class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
        data-name="pagination"
        data-type="pager"
      >
        <div class="facetwp-pager">
          <a class="facetwp-page prev disabled" data-page="1"></a>
          <a class="facetwp-page first" data-page="1">1</a>
          <a class="facetwp-page active" data-page="2">2</a>
          <a class="facetwp-page" data-page="3">3</a>
          <a class="facetwp-page next" data-page="3"></a>
        </div>
      </div>
    </div>
  </div>
</section>
