<section class="newborns pd3">
  <div class="newborns__container">
    <div class="heading__sec">
      <h1 class="title2">Застосування у новонароджених та немовлят</h1>
    </div>

    <div class="patients">
      <div class="patients__column clmn-cntr clmn-rvrs">
        <div class="patients__img square img-bg">
          <img src="./img/content/patients_2.jpg" alt="" />
          <div class="patients__aside">
            <p>Анатомічно-фізіологічні особливості носової порожнини дитини</p>
            <ul>
              <li>Велика кількість кровоносних судин</li>
              <li>Вузькі та короткі носові проходи</li>
              <li>Недорозвинені носові пазухи</li>
              <li>Пухка слизова оболонка</li>
            </ul>
          </div>
        </div>
        <div class="patients__content">
          <p>
            Необхідно пам'ятати анатомічні та фізіологічні особливості носової
            порожнини немовляти, такі як недорозвинені носові пазухи, вузькі та
            короткі носові проходи, велика кількість кровоносних судин, пухка
            слизова оболонка, тому в перші дні життя немовля може мати утруднене
            носове дихання та закладений ніс.
          </p>
          <h4>Що може також бути причиною закладеності носа у вашої дитини?</h4>
          <ul>
            <li>
              запальний процес (при нежиті, застуді, риніті, синуситі, алергії
              та ін.);
            </li>
            <li>
              дія факторів зовнішнього середовища (сухість повітря; пил, пилок
              та інші алергени у повітрі).
            </li>
          </ul>
          <p>
            Закладеність носа з'являється у випадку, коли слизова оболонка носа
            набрякується та утворюється слиз. При закладеному носі дитина
            починає чмихати та сопіти. Окрім цього, дитина починає дихати через
            рот, що може призвести до відмови від їжі, а це, в свою чергу, може
            ускладнити подальший процес годування. Також закладеність носа може
            призвести до неспокою дитини.
          </p>
          <h4>Як НОМАРИН БЕЙБІ може допомогти вашій дитині?</h4>
          <p>
            НОРМАРИН БЕЙБІ - спрей для дбайливого промивання та щоденної гігієни
            носової порожнини для новонароджених та немовлят. НОРМАРИН БЕЙБІ
            може застосовуватись навіть у самих маленьких -
            <b>дітей віком від 0 місяців.</b> НОРМАРИН БЕЙБІ допомагає полегшити
            закладеність носа, пов'язану з ринітом, синуситом, нежитем,
            застудою, сінною лихоманкою та алергією.
          </p>
        </div>
      </div>
      <div class="patients__column">
        <div
          class="patients__img img-bg"
          style="background-color: #f9fce6; border-color: #cfde73"
        >
          <img src="./img/content/nrm_bg1.jpg" alt="" />
        </div>
        <div class="patients__content">
          <h4>Як працює НОРМАРИН БЕЙБІ?</h4>
          <p>
            НОРМАРИН БЕЙБІ діє шляхом розрідження секрету слизової оболонки носа
            і сприяє його видаленню разом з інфекційними збудниками, пилом,
            пилком та іншими алергенами.
          </p>
          <p>
            НОРМАРИН БЕЙБІ допомагає полегшити закладеність носа та відновити
            нормальну респіраторну функцію носової порожнини.
          </p>
          <p>
            НОРМАРИН БЕЙБІ не викликає звикання та може використовуватись разом
            з лікарськими засобами.
          </p>
          <h4>Запалення:?</h4>
          <div class="patients__stages">
            <ul>
              <li>Набряк</li>
              <li>Утворення густого слизу</li>
              <li>Ускладнене носове дихання</li>
              <li>Відмова від їжі</li>
              <li>Неспокій дитини</li>
            </ul>
          </div>
          <h4>Дія факторів навколишнього середовища:</h4>
          <div class="patients__stages">
            <ul>
              <li>Сухість слизових оболонок</li>
              <li>Утворення слизу та сухих кірок</li>
              <li>Ускладнене носове дихання</li>
              <li>Відмова від їжі</li>
              <li>Неспокій дитини</li>
            </ul>
          </div>
          <h4>
            Чи безпечно використовувати НОРМАРИН БЕЙБІ новонародженим та
            немовлятам?
          </h4>
          <p>
            НОРМАРИН БЕЙБІ містить лише стерильній фізіологічний розчин морської
            солі (0.9%). Тонічність (0.9%) у спреї є рекомендованою для
            новонароджених та немовлят у випадку запальних процесів або впливу
            факторів зовнішнього середовища.
          </p>
          <p>
            НОРМАРИН БЕЙБІ має низький тиск у флаконі, що забезпечує м'яке
            розпилення та може використовуватись у дітей віком
            <b>від 0 місяців.</b>
          </p>
          <h4>Як часто можна використовувати НОРМАРИН БЕЙБІ?</h4>
          <p>
            Відповідно до індивідуальних потреб. При закладеності носа: вранці,
            перед вживанням їжі та перед сном. Як правило, 2-4 рази на добу або
            за рекомендацією спеціаліста. НОРМАРИН БЕЙБІ не має обмежень до
            застосування.
          </p>
          <div class="patients__btns">
            <a
              href="https://aicore-store.com.ua/doglyad-za-nosovoyu-porozhninoyu/sprej-dlya-nosa?product_id=88"
              target="_blank"
              rel="noopener noreferrer"
              class="btn-def varAlt onlTxt"
            >
              Купити онлайн
            </a>
            <a
              href="https://tabletki.ua/uk/%D0%9D%D0%BE%D1%80%D0%BC%D0%B0%D1%80%D0%B8%D0%BD-%D1%81%D0%B8%D0%BD%D1%83%D1%81/1015952/"
              target="_blank"
              rel="noopener noreferrer"
              class="btn-def colW varAlt onlTxt"
            >
              Знайти в аптеці
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
