<footer class="footer">
  <div class="footer__container">
    <div class="footer__label">
      <a href="./index.html" class="custom-logo-link">
        <img src="./img/icons/logo_2.svg" alt="Logo" />
      </a>
      <ul>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/soc_1.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/soc_2.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/soc_3.svg" alt="" />
          </a>
        </li>
      </ul>
      <a href="./policy.html" target="_blank" class="footer__policy">Політика конфіденційності</a>
      <p>© 2020 Aicore Consumer</p>
    </div>

    <ul class="footer__list">
      <li class="menu-item current-menu-item">
        <a href="./index.html">Головна</a>
      </li>
      <li class="menu-item"><a href="./about.html">Про Нормарин</a></li>
      <li class="menu-item"><a href="./product.html">Продукти</a></li>
      <li class="menu-item">
        <a href="./patients.html">Для пацієнтів</a>
      </li>
      <li class="menu-item"><a href="./research.html">Дослідження</a></li>
      <li class="menu-item"><a href="./contacts.html">Контакти</a></li>
    </ul>

    <div class="footer__address">
      <p>
        ТОВ «Айкор Консьюмер», вул. Червоноткацька, 42Д, Київ, Україна, 02094,
      </p>
      <address>
        <a href="tel:+380445875758">
          <img src="./img/icons/cont_1.svg" alt="" />
          <span>+38 (044) 587 57 58</span>
        </a>
        <a href="mailto:aicore.office@aicore.com.ua">
          <img src="./img/icons/cont_2.svg" alt="" />
          <span>aicore.office@aicore.com.ua</span>
        </a>
        <a
          href="https://aicore.com.ua/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="./img/icons/cont_3.svg" alt="" />
          <span>www.aicore.com.ua</span>
        </a>
      </address>
    </div>

    <div class="footer__bottom">
      <ul>
        <li>Реклама виробу медичного призначення D-ORS (Діорс)»</li>
        <li>
          Перед застосуванням медичного виробу необхідно проконсультуватися з
          лікарем та ознайомитися з інструкцією з використання
        </li>
        <li>Зберігати у недоступному для дітей місці</li>
      </ul>
      <p>
        Увага! Інформація щодо продуктів, розміщена на сайті, представлена
        виключно для інформаційних цілей і не вважається такою, що заміняє
        консультацію лікаря чи рекомендації спеціалістів у сфері охорони
        здоров’я.
      </p>
    </div>
  </div>
</footer>
