.assort {
  &__container {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
  }
}

@media screen and (max-width: 960px) {
  .assort {
    &__list {
      justify-content: center;
    }
  }
}
