.tips {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
  }
  &__quest {
    cursor: pointer;
    padding: 1.25rem 1.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 5rem;
    &::after {
      content: "";
      flex-shrink: 0;
      width: 1.875rem;
      height: 1.875rem;
      background-size: 1.875rem 1.875rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: var(--vectorDefB);
      transition: all 0.15s ease-in;
    }
    .title5 {
      font-size: 1.125rem;
    }
  }
  &__content {
    padding: 0 1.25rem 1.25rem 1.875rem;

    & > a {
      width: fit-content;
      display: block;
      margin-top: 1rem;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .text-def {
    ul {
      li {
        display: flex;
        align-items: start;
        gap: 0 0.625rem;
        padding-left: 0.625rem;
        &::before {
          content: "";
          position: relative;
          top: 0.5rem;
          flex-shrink: 0;
          width: 0.25rem;
          height: 0.25rem;
          background-color: var(--cm);
          border-radius: 50%;
        }
      }
    }
  }

  .ac {
    margin: 0;
    background-color: var(--cw);
    border: 0.0625rem solid var(--cb2);
    border-radius: 0.625rem;
    transition: all 0.15s ease-in;

    .ac-trigger {
      cursor: default;
      padding: 0;
      font: inherit;
      color: var(--cm);
      font-size: inherit;
      line-height: inherit;
      &::after {
        display: none;
      }
    }
    &.is-active {
      background-color: var(--cb1);
      .tips__quest {
        &::after {
          transform: rotate(45deg);
        }
      }
      .ac-panel {
        opacity: 1;
      }
    }
    .ac-panel {
      opacity: 0;
      transition-property: height, visibility, opacity !important;
    }
  }
}

@media screen and (max-width: 960px) {
  .tips {
    &__quest {
      padding: 1rem;
      gap: 0 1rem;
      .title5 {
        font-size: 1rem;
      }
    }
    &__content {
      padding: 0 1rem 1rem 1rem;

      & > a {
        margin-top: 0.75rem;
      }
    }

    .text-def {
      ul {
        li {
          gap: 0 0.5rem;
          padding-left: 0.5rem;
          &::before {
            top: 0.4rem;
          }
        }
      }
    }
  }
}
