<section class="bov pd1">
  <div class="bov__container">
    <div class="heading__sec">
      <h2 class="title2">Що таке BAG-ON-VALVE (BOV)?</h2>
    </div>

    <div class="bov__content">
      <ul class="bov__list">
        <li>100% стерильність</li>
        <li>Без консервантів та домішок</li>
        <li>Рівномірне та контрольоване розпилення під будь-яким кутом</li>
        <li>100% для вторинної переробки</li>
        <li>Не викликає звикання</li>
      </ul>

      <div class="bov__img ibg">
        <img src="./img/content/bov_1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
