<section class="recomend pd1">
  <div class="recomend__container">
    <div class="heading__sec">
      <h2 class="title2">Дослідження та рекомендації</h2>
    </div>

    <ul class="recomend__cards">
      <li>
        <p>
          Іригаційна терапія рекомендована як допоміжна терапія при лікуванні
          <b>алергічних ринітів.</b>
        </p>
        <a href="./experiment.html" class="btn-def">Читати дослідження</a>
      </li>
      <li>
        <p>
          Іригаційна терапія рекомендована для промивання носової порожнини при
          лікуванні <b>респіраторних захворювань, алергії та синуситу.</b>
        </p>
        <a href="./experiment.html" class="btn-def">Читати дослідження</a>
      </li>
      <li>
        <p>
          Іригаційна терапія рекомендована як допоміжна терапія при лікуванні
          <b>алергічних ринітів.</b>
        </p>
        <a href="./experiment.html" class="btn-def">Читати дослідження</a>
      </li>
      <li>
        <p>
          Іригаційна терапія рекомендована як допоміжна терапія при лікуванні
          <b>алергічних ринітів.</b>
        </p>
        <a href="./experiment.html" class="btn-def">Читати дослідження</a>
      </li>
      <li>
        <p>
          Іригаційна терапія рекомендована як допоміжна терапія при лікуванні
          <b>алергічних ринітів.</b>
        </p>
        <a href="./experiment.html" class="btn-def">Читати дослідження</a>
      </li>
      <li>
        <p>
          Іригаційна терапія рекомендована для щоденної гігієни: для видалення
          секрету, підвищення мукоциліарного транспорту, посилення
          <b>синусового дренажу</b> та прохідності дихальних шляхів.
        </p>
        <a href="./experiment.html" class="btn-def">Читати дослідження</a>
      </li>
    </ul>
  </div>
</section>
