<div class="table">
  <div class="table__container">
    <div class="table__body">
      <div class="table__slider">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="table__img">
                  <div class="no-select">
                    <img src="./img/content/assort_1.png" alt="" />
                    <p style="background-color: #f9fce6">0м+</p>
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="table__img">
                  <div class="no-select">
                    <img src="./img/content/assort_2.png" alt="" />
                    <p style="background-color: #fdf7ff">2+</p>
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="table__img">
                  <div class="no-select">
                    <img src="./img/content/assort_3.png" alt="" />
                    <p style="background-color: #fff3f4">2+</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="table__row">
        <div>
          <p><span>Назва</span></p>
        </div>
        <div>
          <p><b>НОРМАРИН БЕЙБІ</b></p>
          <p>
            Для новонароджених,<br />
            немовлят
          </p>
        </div>
        <div>
          <p><b>НОРМАРИН АЛЛЕРДЖИ</b></p>
          <p>
            Алергії, алергічний<br />
            риніт
          </p>
        </div>
        <div>
          <p><b>НОРМАРИН СИНУС</b></p>
          <p>Риніт, синуси</p>
        </div>
      </div>

      <div class="table__row column3">
        <div>
          <p><span>Тип промивання</span></p>
        </div>
        <div><p>Для дбайливого промивання</p></div>
        <div><p>Для глибокого промивання</p></div>
      </div>

      <div class="table__row column3">
        <div>
          <p><span>Вид</span></p>
        </div>
        <div>
          <p>Ізотонічні</p>
        </div>
        <div>
          <p>Гіпертонічні</p>
        </div>
      </div>

      <div class="table__row">
        <div>
          <p><span>Склад</span></p>
        </div>
        <div>
          <p>
            Стерильний фізіологічний розчин <b>морської солі</b> з додаванням
            <b>буферу</b>
          </p>
        </div>
        <div>
          <p>Стерильний гіпертонічний розчин <b>натрій хлориду</b></p>
        </div>
        <div>
          <p>Природна стерильна гіпертонічна <b>морська вода</b></p>
        </div>
      </div>

      <div class="table__row">
        <div>
          <p><span>Тонічність</span></p>
        </div>
        <div><p>0,9%</p></div>
        <div><p>2,0%</p></div>
        <div><p>2,3%</p></div>
      </div>

      <div class="table__row">
        <div>
          <p><span>Тиск</span></p>
        </div>
        <div>
          <p>3,5 бар <br /><b>Низький</b> тиск</p>
        </div>
        <div>
          <p>6,5 бар <br /><b>Високий</b> тиск</p>
        </div>
        <div>
          <p>7,5 бар <br /><b>Високий</b> тиск</p>
        </div>
      </div>
    </div>

    <div class="table__tagline">
      <p>
        1 Максимально можливий дозволений тиск 7,5 бар +/- 0,5 (не більше 8
        бар).
      </p>
      <p>
        Постачальник: ТОВ “Айкор Консьюмер”, вул. Червоноткацька, буд. 42-д, м.
        Київ, Украіна, 02094, контактний телефон: +38 (044) 587-57-58, email:
        customerservice@aicore.eu
      </p>
      <p>
        Виробник: КОСМОСОЛ С.р.л., Віа Пер Квартіано, 25, 26837, Мулаццано (ЛО),
        Італія.
      </p>
      <p>KM 7-NMR-09-19-11</p>
    </div>
  </div>
</div>
