<section class="sinusitis pd3">
  <div class="sinusitis__container">
    <div class="heading__sec">
      <h1 class="title2">Синусит</h1>
    </div>

    <div class="patients">
      <div class="patients__column clmn-cntr clmn-rvrs">
        <div class="patients__img square img-bg">
          <img src="./img/content/patients_1.jpg" alt="" />
        </div>
        <div class="patients__content">
          <h4>Що таке синусит?</h4>
          <p>
            Синусит - захворювання, що відрізняється наявністю запалених пазух,
            причиною якого можуть бути інфекційні збудники або інші проблеми.
          </p>
          <p>
            Ваші пазухи - це порожнини всередині кісток навколо вашого носа, що
            виробляють слиз, який витікає в ніс. Якщо Ви маєте набряк слизової
            оболонки носа, це може заблокувати носові пазухи та спричинити біль.
          </p>
          <p>Є декілька типів синуситу, що включають:</p>
          <ul>
            <li>Гострий, що може тривати до 4 тижнів;</li>
            <li>Підгострий, що може тривати 4-12 тижнів;</li>
            <li>
              Хронічний, що триває більше 12 тижнів та може тривати протягом 1
              року та більше;
            </li>
            <li>Періодичний, що виникає періодично протягом року.</li>
          </ul>
          <p>
            Гострий синусит дуже часто починається при низьких температурах, а
            потім переходить до наявності бактеріальної інфекції. Алергія,
            проблеми з носом та деякі захворювання також можуть викликати
            гострий і хронічний синусит.
          </p>
          <p>
            Симптомами синуситу можуть бути наступні: гарячка, слабкість, втома,
            кашель та застій слизу в пазухах.
          </p>
        </div>
      </div>
      <div class="patients__column">
        <div
          class="patients__img img-bg"
          style="background-color: #fff3f4; border-color: #e0a1a6"
        >
          <img src="./img/content/nrm_bg3.jpg" alt="" />
        </div>
        <div class="patients__content">
          <h4>Яким чином НОРМАРИН СИНУС може допомогти Вам при синуситі?</h4>
          <p>
            НОРМАРИН СИНУС - спрей для глибокого промивання порожнини носа, що
            застосовується лоя полегшення закладеності носа, пов'язану з
            синуситом, ринітом, нежитем, застудою, сінною лихоманкою та
            алергією. Для розрідження та видалення густого слизу, що містить
            бактерії та сторонні частки, такі як пил, пилок та алергени.
          </p>
          <p>
            2.3% гіпертонічний розчин морської води допомагає зменшити
            закладеність носа та відновити нормальну респіраторну функцію
            носової порожнини. Інтенсивне розпилення допомагає ретельно промити
            та зволожити носову порожнину.
          </p>
          <p>
            НОРМАРИН СИНУС не викликає звикання та може використовуватись разом
            з лікарськими засобами.
          </p>
          <p>
            Регулярне використання НОРМАРИН СИНУС допомагає знизити частоту
            використання лікарських засобів, в тому числі топічних
            вазоконстрикторів, пацієнтам, що страждають на риніти та синусити.
          </p>
          <h4>Чи можна застосовувати НОРМАРИН СИНУС у дитячому віці?</h4>
          <p>
            НОРМАРИН СИНУС можна застосовувати дітям віком від 3 років та
            дорослим. Як правило, 2-3 рази на добу або за рекомендацією
            спеціаліста. За необхідності, можна використовувати частіше.
          </p>
          <div class="patients__btns">
            <a
              href="https://aicore-store.com.ua/doglyad-za-nosovoyu-porozhninoyu/sprej-dlya-nosa?product_id=88"
              target="_blank"
              rel="noopener noreferrer"
              class="btn-def varAlt onlTxt"
            >
              Купити онлайн
            </a>
            <a
              href="https://tabletki.ua/uk/%D0%9D%D0%BE%D1%80%D0%BC%D0%B0%D1%80%D0%B8%D0%BD-%D1%81%D0%B8%D0%BD%D1%83%D1%81/1015952/"
              target="_blank"
              rel="noopener noreferrer"
              class="btn-def colW varAlt onlTxt"
            >
              Знайти в аптеці
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
