<section class="allergy pd3">
  <div class="allergy__container">
    <div class="heading__sec">
      <h1 class="title2">Алергія і алергічний риніт</h1>
    </div>

    <div class="patients">
      <div class="patients__column clmn-cntr clmn-rvrs">
        <div class="patients__img square img-bg">
          <img src="./img/content/patients_3.jpg" alt="" />
        </div>
        <div class="patients__content">
          <h4>Що таке алергічний риніт?</h4>
          <p>
            Як і будь-який інший вид алергії, алергічний риніт є реакцією
            імунної системи на алерген - в більшості випадків, на домашній пил,
            тварин, пилок та квіти. Алерген вступає в контакт з чутливою
            слизовою оболонкою носа та отримує відповідну алергічну реакцію.
          </p>
          <h4>Якими симптомами супроводжується алергічний риніт?</h4>
          <p>
            Симптомами алергічного риніту є будь-яка комбінація свербіжу горла,
            очей та носа, чхання, нежить або закладеність носа та ін. Також
            можуть розвиватися і інші симптоми, такі як кашель, закладеність
            вух, біль в горлі та ін.
          </p>
          <h4>Як алергічний риніт може вплинути на Ваше життя?</h4>
          <p>
            Психологічний вплив: втома, дратівливість, тривога, депресія,
            фрустрація, зниження ефективності та мотивації, зниження уваги та
            концентрації та ін. Соціальна взаємодія: соціальна ізоляція,
            обмеження діяльності, неможливість відвідування відкритих приміщень,
            погане самопочуття та ін.
          </p>
          <div class="patients__block">
            <p>
              Згідно даних, представлених Всесвітньою організацією з Алергії, у
              світі на алергічний риніт страждають до 30% населення планети.
            </p>
          </div>
        </div>
      </div>
      <div class="patients__column">
        <div
          class="patients__img img-bg"
          style="background-color: #fdf7ff; border-color: #d79eeb"
        >
          <img src="./img/content/nrm_bg2.jpg" alt="" />
        </div>
        <div class="patients__content">
          <h4>
            Як НОРМАРИН АЛЛЕРДЖИ, гіпертонічний розчин (2.0%), може допомогти
            Вам при алергічному риніті?
          </h4>
          <p>
            НОРМАРИН АЛЛЕРДЖИ - спрей для щоденної гігієни порожнини носа в
            сезон алергій. Для полегшення закладеності носа, повязану з
            алергією, ринітом, синуситом, сінною лихоманкою, нежитем та
            застудою.
          </p>
          <p>
            Ризик подразнення слизової оболонки носової порожнини при
            застосуванні 2.0% гіпертонічного розчину натрію хлориду значно
            менший у порівнянні з розчинами, які мають вищу концентрацію. Разом
            з цим, спрей допомагає зменшити закладеність носа і відновити
            нормальну респіраторну функцію носової порожнини за рахунок
            зменшення набряку слизової оболонки дихальних шляхів, а також
            зменшує показник носового опору (NAR).
          </p>
          <h4>Чи безпечно використовувати НОРМАРИН АЛЛЕРДЖИ?</h4>
          <p>
            НОРМАРИН АЛЛЕРДЖИ містить тільки чистий сольовий розчин (2.0%).
            НОРМАРИН АЛЛЕРДЖИ не містить буферу, інших солей, мікроелементів або
            інших домішок. Це забезпечує максимальну безпеку пацієнтів з
            алергією.
          </p>
          <p>
            Якщо ви використовуєте лікарський засіб у вигляді спрею для носа,
            обов'язково промийте ніс за допомогою НОРМАРИН АЛЛЕРДЖИ перед його
            застосуванням. Це підсилює ефективність лікарського засобу.
          </p>
          <p>
            Регулярне використання НОРМАРИН АЛЛЕРДЖИ допомагає зменшити
            кількість лікарських засобів, які використовують пацієнти.
          </p>
          <div class="patients__btns">
            <a
              href="https://aicore-store.com.ua/doglyad-za-nosovoyu-porozhninoyu/sprej-dlya-nosa?product_id=88"
              target="_blank"
              rel="noopener noreferrer"
              class="btn-def varAlt onlTxt"
            >
              Купити онлайн
            </a>
            <a
              href="https://tabletki.ua/uk/%D0%9D%D0%BE%D1%80%D0%BC%D0%B0%D1%80%D0%B8%D0%BD-%D1%81%D0%B8%D0%BD%D1%83%D1%81/1015952/"
              target="_blank"
              rel="noopener noreferrer"
              class="btn-def colW varAlt onlTxt"
            >
              Знайти в аптеці
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
