.breadcrumbs {
  padding: 1.875rem 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    li {
      display: flex;
      align-items: center;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.4;
      color: rgba(0, 17, 36, 0.5);

      &:last-child {
        span,
        a {
          color: var(--cm);
          margin-right: 0;
        }
      }
      span,
      a {
        margin-right: 1rem;
        transition: all 0.15s ease-in;
      }
      a {
        &:hover {
          color: var(--cm);
        }
      }
      &::after {
        content: "";
        flex-shrink: 0;
        width: 1rem;
        height: 1rem;
        background-size: 1rem 1rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: var(--vectorLang);
        transform: rotate(-90deg);
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}

.card-assort {
  position: relative;
  flex-basis: calc((100% - 2 * 1.25rem) / 3);
  min-height: 21.875rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
  border: 0.0625rem solid var(--cb2);
  background-color: var(--cb1);
  padding: 1.875rem;
  overflow: hidden;
  transition: all 0.15s ease-in;
  &:hover {
    border-color: var(--cb3);
  }

  &__heading {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-bottom: 0.9375rem;
    margin-bottom: auto;
    li {
      color: var(--cb3);
      font-size: 0.875rem;
      padding: 0.25rem 0.75rem;
      border-radius: 0.625rem;
      border: 0.0625rem solid var(--cb3);
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 0.9375rem;
    gap: 0 1.875rem;
  }
  &__box {
    padding: 0.625rem 0 2.8125rem 0;
    .title5 {
      display: block;
      width: fit-content;
      margin-bottom: 0.25rem;
    }
  }

  &__img {
    display: block;
    flex-shrink: 0;
    width: 8.75rem;
    img {
      width: 100%;
    }
  }

  .btn-def {
    position: absolute;
    bottom: 1.875rem;
    left: 1.875rem;
  }
}

.pagination__wrapp {
  margin-top: 6.25rem;
  display: flex;
  justify-content: center;

  .facetwp-pager {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0 1.5rem;
    width: 100%;
  }
  .facetwp-page {
    cursor: pointer;
    font-size: 1.375rem;
    line-height: 1.2;
    transition: all 0.15s ease-in;
    &:hover {
      color: var(--cb3);
    }
    &.active {
      color: var(--cb3);
    }
    &.prev,
    &.next {
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: "";
        width: 1.125rem;
        height: 1.5rem;
        background-size: 1.125rem 1.5rem;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all 0.15s ease-in;
        background-image: var(--vectorBtnBlack);
      }
      &:hover {
        &::before {
          background-image: var(--vectorBtnBlue);
        }
      }
      &.disabled {
        cursor: no-drop;
        opacity: 0.5;
        &::before {
          background-image: var(--vectorBtnBlack) !important;
        }
      }
    }
    &.prev {
      &::before {
        transform: rotateY(180deg);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .breadcrumbs {
    padding: 0.75rem 0;

    ul {
      gap: 0.5rem;
      li {
        font-size: 0.75rem;
        font-weight: 400;
        span,
        a {
          margin-right: 0.5rem;
        }
        &::after {
          width: 0.75rem;
          height: 0.75rem;
          background-size: 0.75rem 0.75rem;
        }
      }
    }
  }

  .card-assort {
    min-height: 21rem;
    min-height: auto;
    flex-basis: calc((100% - 1 * 1.25rem) / 2);
    &__heading {
      gap: 0.375rem;
      padding-right: 7rem;
      margin-bottom: auto;
      li {
        font-size: 0.75rem;
        padding: 0.1875rem 0.625rem 0.25rem 0.625rem;
      }
    }

    &__content {
      margin-top: -3.4375rem;
      margin-bottom: 4.6875rem;
      align-items: end;
      gap: 0 1.125rem;
    }
    &__box {
      padding: 3.75rem 0 0 0;
      .title5 {
        margin-bottom: 0.375rem;
      }
    }

    &__img {
      width: 6.75rem;
    }

    .btn-def {
      width: calc(100% - 1.875rem * 2);
    }
  }

  .pagination__wrapp {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 775px) {
  .card-assort {
    max-width: 26rem;
    min-height: auto;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 500px) {
  .class {
  }
}
