body {
  /* Colors */
  --cm: #001124;
  --cb: #000;
  --cw: #fff;

  --cb1: #edf9ff;
  --cb2: #97d2f0;
  --cb3: #009de0;
  --cb4: #003f5a;

  --cg1: #f9fce6;
  --cg2: #cfde73;

  --cp1: #fdf7ff;
  --cp1: #d79eeb;

  --cc1: #fff3f4;
  --cc2: #e0a1a6;

  /* Fonts */
  --ff: "Poppins", sans-serif;
}
