<section class="product pd3">
  <div class="product__container">
    <div class="product__body">
      <div class="descript__heading">
        <h1 class="title3">НОРМАРИН ДЕЙЛІ</h1>

        <p>Для щоденної гігієни носової порожнини.</p>
      </div>

      <div class="descript__img">
        <ul class="card-assort__heading">
          <li>Отоларингологія</li>
        </ul>
        <div class="ibg_contain no-select">
          <img src="./img/content/nrm_1.png" alt="" />
        </div>
      </div>

      <div class="descript__content">
        <div class="descript__buy">
          <a
            href="https://aicore-store.com.ua/doglyad-za-nosovoyu-porozhninoyu/sprej-dlya-nosa?product_id=88"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def varAlt onlTxt"
          >
            Купити онлайн
          </a>
          <a
            href="https://tabletki.ua/uk/%D0%9D%D0%BE%D1%80%D0%BC%D0%B0%D1%80%D0%B8%D0%BD-%D1%81%D0%B8%D0%BD%D1%83%D1%81/1015952/"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def varAlt colW onlTxt"
          >
            Знайти в аптеці
          </a>
        </div>

        <div class="descript__inf">
          <p><b>Опис:</b></p>
          <p>Спрей для глибокого промивання порожнини носа.</p>
          <p>
            Для полегшення закладеності носа, пов'язану з ринітом, синуситом,
            нежитем, застудою, сінною лихоманкою та алергією. Для догляду за
            носовою порожниною в післяопераційний період.
          </p>
          <p>
            НОРМАРИН ДЕЙЛІ діє шляхом розрідження густого секрету слизової
            оболонки носа і сприяє його видаленню разом з інфекційними
            збудниками, пилом, пилком та іншими алергенами. Допомагає полегшити
            закладеність носа та відновити нормальну респіраторну функцію
            носової порожнини.
          </p>
          <p>
            НОРМАРИН ДЕЙЛІ не викликає звикання та може застосовуватись разом з
            лікарськими засобами.
          </p>
        </div>

        <div class="descript__inf">
          <p><b>Вік: </b>Для дітей віком від 6 місяців та дорослих.</p>
          <p><b>Склад: </b>Природна стерильна морська вода (0.9%).</p>
          <p><b>Інструкція з використання:</b></p>
          <p>
            Відповідно до індивідуальних потреб. Як правило, 1-2 рази на добу
            або за рекомендацією спеціаліста. За необхідності можна
            використовувати частіше.
          </p>
          <p><b>Сертифікація</b></p>
          <p>
            Висновок Державної санітарно - епідеміологічної експертизи №
            12.2-18-3/28845 від 27.12.2019
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
