<section class="assort pd2">
  <div class="assort__container">
    <div class="heading__sec">
      <h2 class="title2">Продукти</h2>
    </div>

    <ul class="assort__list">
      <li class="card-assort">
        <ul class="card-assort__heading">
          <li>Отоларингологія</li>
          <li>Педіатрія</li>
        </ul>
        <div class="card-assort__content">
          <div class="card-assort__box">
            <a href="./product.html" class="title5">НОРМАРИН БЕЙБІ</a>
            <div class="text-def">
              <p>
                Для щоденної гігієни носової порожнини новонароджених та
                немовлят.
              </p>
            </div>
          </div>

          <a href="./product.html" class="card-assort__img">
            <img src="./img/content/assort_1.png" alt="" />
          </a>
        </div>
        <a href="./product.html" class="btn-def">Детальніше</a>
      </li>

      <li class="card-assort">
        <ul class="card-assort__heading">
          <li>Отоларингологія</li>
          <li>Алергологія</li>
        </ul>
        <div class="card-assort__content">
          <div class="card-assort__box">
            <a href="./product.html" class="title5">НОРМАРИН АЛЛЕРДЖИ</a>
            <div class="text-def">
              <p>Щоденна гігієна носової порожнини в сезон алергій.</p>
            </div>
          </div>

          <a href="./product.html" class="card-assort__img">
            <img src="./img/content/assort_1.png" alt="" />
          </a>
        </div>
        <a href="./product.html" class="btn-def">Детальніше</a>
      </li>

      <li class="card-assort">
        <ul class="card-assort__heading">
          <li>Отоларингологія</li>
        </ul>
        <div class="card-assort__content">
          <div class="card-assort__box">
            <a href="./product.html" class="title5">НОРМАРИН СИНУС</a>
            <div class="text-def">
              <p>
                Для полегшення закладеності носа, пов’язану з синуситом,
                ринітом, нежитем, застудою.
              </p>
            </div>
          </div>

          <a href="./product.html" class="card-assort__img">
            <img src="./img/content/assort_1.png" alt="" />
          </a>
        </div>
        <a href="./product.html" class="btn-def">Детальніше</a>
      </li>
    </ul>
  </div>
</section>
