<section class="featur pd1">
  <div class="featur__container">
    <div class="featur__body">
      <div class="heading__sec">
        <h1 class="title2">Особливості НОРМАРИНУ</h1>
      </div>

      <div class="featur__img ibg">
        <img src="./img/content/featur_1.jpg" alt="" />
      </div>

      <div class="featur__wrapp">
        <ul class="featur__list">
          <li>
            НОРМАРИН - індивідуальний підхід до іригаційної терапії при
            лікуванні захворювань носової порожнини та її гігієни
          </li>
          <li>
            Спреї НОРМАРИН не викликають звикання та можуть використовуватись
            разом з лікарськими засобами
          </li>
          <li>
            Спреї НОРМАРИН можуть використовуватись у будь-якому віці, а також у
            новонароджених та немовлят з перших днів життя
          </li>
          <li>
            Кожен спрей НОРМАРИН має вдосконалені властивості: склад,
            тонічність, оптимальний тиск та форму носика, що дає переваги
            використання кожного НОРМАРИНу при різних клінічних умовах і віці
          </li>
          <li>
            Виробництво кожного спрею за технологією BAG-ON-VALVE (BOV) дає
            додаткові переваги застосування, такі як 100% стерильність,
            контрольоване розпилення під будь-яким кутом, а також відсутність
            домішок
          </li>
        </ul>
        <a href="./about.html" class="btn-def">Більше про НОРМАРИН</a>
      </div>
    </div>
  </div>
</section>
