<section class="hero">
  <div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide ibg">
          <div class="hero__container">
            <div class="hero__content">
              <div class="hero__desc">
                <p>
                  Представляємо <b>НОРМАРИН СИНУС</b> — потужну суміш
                  натуральних інгредієнтів, створених для полегшення симптомів і
                  прискорення одужання.
                </p>
                <p>
                  Попрощайтеся з нежиттю і насолоджуйтесь здоров’ям сьогодні!
                </p>
              </div>
              <div class="hero__img">
                <img src="./img/content/nrm_1.png" alt="" />
              </div>
            </div>
          </div>
          <img src="./img/content/hero_1.jpg" alt="" />
        </li>
        <li class="splide__slide ibg">
          <div class="hero__container">
            <div class="hero__content">
              <div class="hero__desc">
                <p>
                  Представляємо <b>НОРМАРИН СИНУС</b> — потужну суміш
                  натуральних інгредієнтів, створених для полегшення симптомів і
                  прискорення одужання.
                </p>
                <p>
                  Попрощайтеся з нежиттю і насолоджуйтесь здоров’ям сьогодні!
                </p>
              </div>
              <div class="hero__img">
                <img src="./img/content/nrm_1.png" alt="" />
              </div>
            </div>
          </div>
          <img src="./img/content/hero_2.jpg" alt="" />
        </li>
      </ul>
    </div>
  </div>
</section>
