<section class="tips pd1">
  <div class="tips__container">
    <div class="heading__sec">
      <h2 class="title2">Поради</h2>
    </div>

    <ul class="tips__list accord">
      <li class="ac">
        <div class="ac-trigger">
          <div class="faq__quest">
            <h4 class="title4">
              Яких кольорів у вас можна замовити висувні коробки?
            </h4>
          </div>
          <div class="ac-panel">
            <div class="faq__desc">
              <p>
                Для виготовлення коробок застосовуємо якісні матеріали, які
                проходять перевірку на відповідність ДСТУ. Це палітурний,
                ламінований, крафтовий чи дизайнерський картон різної товщини та
                кольорів.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
