<section class="tips pd1">
  <div class="tips__container">
    <div class="heading__sec">
      <h2 class="title2">Поради</h2>
    </div>

    <ul class="tips__list accord">
      <li class="ac">
        <div class="ac-trigger">
          <div class="tips__quest">
            <h5 class="title5">
              Яких кольорів у вас можна замовити висувні коробки?
            </h5>
          </div>
          <div class="ac-panel">
            <div class="tips__content">
              <div class="text-def">
                <p>
                  Ми радимо наступні кроки при виникненні алергічного риніту:
                </p>
                <ul>
                  <li>
                    Зменшення кількість годин перебування на вулиці (в період
                    запилення рослин, у вітряну погоду);
                  </li>
                  <li>
                    Користування засобами захисту, приміром маскою, для
                    обмеження контакту з алергенами;
                  </li>
                  <li>
                    Використання очищувача або кондиціонера із фільтром в машині
                    та домі;
                  </li>
                  <li>
                    Вологе прибирання в домі. Для прибирання помешкання
                    застосовувати пилосос з водним фільтром. Відносну вологість
                    у квартирі необхідно підтримувати на рівні не вище ніж
                    40-50%;
                  </li>
                  <li>
                    Килимові покриття бажано замінити на такі, що легко миються;
                  </li>
                  <li>
                    Елімінаційна терапія (при можливості, усунути збудника
                    алергічних реакцій);
                  </li>
                  <li>
                    Промивання носової порожнини стерильними сольовими
                    розчинами.
                  </li>
                </ul>
              </div>
              <a href="#">Детальніше ознайомитись</a>
            </div>
          </div>
        </div>
      </li>
      <li class="ac">
        <div class="ac-trigger">
          <div class="tips__quest">
            <h5 class="title5">
              Для чого гіпертонічні розчини для промивання носу?
            </h5>
          </div>
          <div class="ac-panel">
            <div class="tips__content">
              <div class="text-def">
                <p>
                  Ми радимо наступні кроки при виникненні алергічного риніту:
                </p>
                <ul>
                  <li>
                    Зменшення кількість годин перебування на вулиці (в період
                    запилення рослин, у вітряну погоду);
                  </li>
                  <li>
                    Користування засобами захисту, приміром маскою, для
                    обмеження контакту з алергенами;
                  </li>
                  <li>
                    Використання очищувача або кондиціонера із фільтром в машині
                    та домі;
                  </li>
                  <li>
                    Вологе прибирання в домі. Для прибирання помешкання
                    застосовувати пилосос з водним фільтром. Відносну вологість
                    у квартирі необхідно підтримувати на рівні не вище ніж
                    40-50%;
                  </li>
                  <li>
                    Килимові покриття бажано замінити на такі, що легко миються;
                  </li>
                  <li>
                    Елімінаційна терапія (при можливості, усунути збудника
                    алергічних реакцій);
                  </li>
                  <li>
                    Промивання носової порожнини стерильними сольовими
                    розчинами.
                  </li>
                </ul>
              </div>
              <a href="#">Детальніше ознайомитись</a>
            </div>
          </div>
        </div>
      </li>
      <li class="ac">
        <div class="ac-trigger">
          <div class="tips__quest">
            <h5 class="title5">
              Як промивання носової порожнини може допомогти зменшити
              ймовірність зараження коронавірусом та іншими респіраторними
              захворюваннями
            </h5>
          </div>
          <div class="ac-panel">
            <div class="tips__content">
              <div class="text-def">
                <p>
                  Ми радимо наступні кроки при виникненні алергічного риніту:
                </p>
                <ul>
                  <li>
                    Зменшення кількість годин перебування на вулиці (в період
                    запилення рослин, у вітряну погоду);
                  </li>
                  <li>
                    Користування засобами захисту, приміром маскою, для
                    обмеження контакту з алергенами;
                  </li>
                  <li>
                    Використання очищувача або кондиціонера із фільтром в машині
                    та домі;
                  </li>
                  <li>
                    Вологе прибирання в домі. Для прибирання помешкання
                    застосовувати пилосос з водним фільтром. Відносну вологість
                    у квартирі необхідно підтримувати на рівні не вище ніж
                    40-50%;
                  </li>
                  <li>
                    Килимові покриття бажано замінити на такі, що легко миються;
                  </li>
                  <li>
                    Елімінаційна терапія (при можливості, усунути збудника
                    алергічних реакцій);
                  </li>
                  <li>
                    Промивання носової порожнини стерильними сольовими
                    розчинами.
                  </li>
                </ul>
              </div>
              <a href="#">Детальніше ознайомитись</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
