<section class="article pd3">
  <div class="article__container">
    <div class="heading__sec">
      <h1 class="title2">Алергічний риніт: знову привіт?</h1>
      <p>11.11.23</p>
    </div>

    <div class="details">
      <div class="details__img">
        <img src="./img/content/hero_2.jpg" alt="" />
      </div>
      <p>
        У весняну пору року розквітає багато рослин та квітів, що значно
        покращує настрій, але частина людей страждає через алергічні прояви у
        вигляді алергічного риніту та алергій. Алергічний риніт - запальне
        захворювання, проявом якого є чхання, свербіж у носі, та прозорі
        виділення з носа. Ці симптоми знайомі багатьом з нас, кожного року
        кажуть нам «привіт».
      </p>
      <p>
        Симптоми алергій та алергічного риніту не лише погіршують якість життя
        пацієнтів, але й призводять до розвитку ускладнень. Важливість проблеми
        алергічного риніту зумовлює його тісний зв’язок із такими
        захворюваннями, як бронхіальна астма, гострий і хронічний риносинусит та
        ін. Алергічні захворювання дихальних шляхів істотно знижують чутливість
        до інфекційних агентів, збудників гострих респіраторних та вірусних
        захворювань.
      </p>
      <p>
        Дуже часто пацієнти з алергічним ринітом стають частими відвідувачами
        аптек, завжди носять із собою цілу купу різних лікарських засобів:
        блістери, краплі, упаковки різних лікарських засобів, для полегшення
        дихання, а деякі з таких пацієнтів для економії часу купують одразу по
        10 таких упаковок. Знайома ситуація?
      </p>
      <p>
        У випадку якщо відповідь «Так», то нижче пропонуємо ряд заходів, які
        допоможуть полегшити симптоми Вам або/та Вашим рідним людям.
      </p>
      <div class="details__block">
        <ul>
          <li>
            Зменшення кількість годин перебування на вулиці (в період запилення
            рослин, у вітряну погоду)
          </li>
          <li>
            Користування засобами захисту, приміром маскою, для обмеження
            контакту з алергенами
          </li>
          <li>
            Використання очищувача або кондиціонера із фільтром в машині та домі
          </li>
          <li>
            Вологе прибирання в домі. Для прибирання помешкання застосовувати
            пилосос з водним фільтром. Відносну вологість у квартирі необхідно
            підтримувати на рівні не вище ніж 40-50%
          </li>
          <li>Килимові покриття бажано замінити на такі, що легко миються</li>
          <li>
            Елімінаційна терапія (при можливості, усунути збудника алергічних
            реакцій)
          </li>
          <li>Промивання носової порожнини стерильними сольовими розчинами</li>
        </ul>
      </div>
      <p>
        Даний пункт дуже важливий та може бути новим для багатьох споживачів.
        Справа у тому, що у разі промивання носової порожнини сольовим розчином
        перед тим, як застосувати лікарські засоби значно полегшує дихання та
        покращує відчуття в носовій порожнині. Таким чином, ми використовуємо
        лікарський засіб на уже промиту носову порожнину від залишок
        мікроорганізмів, тому і дія лікарських засобів стає значно ефективніша.
        Результати проведеного мета-аналізу (найвищий рівень доказовості) при
        застосуванні засобів для промивання носової порожнини як додатковий
        засіб до класичної терапії лікарськими засобами вражаючі:
      </p>
      <div class="details__block">
        <ul>
          <li>
            на 27,6% зменшуються симптоми чхання, свербіння, закладеність носа,
            секреція (виділення)
          </li>
          <li>
            на 62% зменшується застосування лікарських засобів (в тому числі
            антигістамінних лікарських засобів)
          </li>
          <li>на 27,8% покращується якість життя</li>
        </ul>
        <p>Неймовірні результати, правда ж?</p>
      </div>
      <p>
        Тепер необхідно обрати вірний засіб для промивання носової порожнини.
        Нормарин Аллерджі створений спеціально для споживачів з алергіями та
        алергічними ринітами, так як у складі лише чистий сольовий розчин, без
        домішок, котрий не викличе додаткових алергічних реакцій. Нормарин
        Аллерджі має високий тиск та насадку для глибокого промивання носової
        порожнини; також Нормарин Аллерджі здійснює протинабряковий ефект,
        котрий часто супроводжує алергії та алергічні риніти. Він підходить як
        для дітей, так і для дорослих, так як його можна застосовувати від 2-х
        років.
      </p>
      <p>Давайте полегшувати своє дихання разом з Нормарин!</p>
    </div>

    <a href="./articles.html" class="btn-def varAlt colW">До всіх статтей</a>
  </div>
</section>
